<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container">
    <h1>Editing <%= foundUser.username %>'s profile</h1>
    <form action="/user/<%= foundUser._id %>?_method=PUT" method="POST">
        <input class="userInput" type="text" name="user[name]" value="<%= foundUser.username %>">
        <input class="userInput" type="text" name="user[email]" value="<%= foundUser.email %>" required>
        
        <button class="userSubmitB">Update</button>
    </form>
    <a href="/user/<%= foundUser._id %>">Go back</a>
</div>

<% include ../partials/footer %>