<% include ../partials/header %>
<% include ../partials/navbar %>

<style>
    /*New Comment*/
    .leave-comment {
        flex: 1;
        background: #6F4E37;
        border: none;
        border-radius: 3px;
        padding: .3em;
        font-size: 1em;
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        outline: none;
        color: #46D80E;
    }

    #new-comment-form {
        border: 1px solid #46D80E;
        border-top: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-bottom: 1em;
    }

    #submit-comment {
        background: #48ff00;
        border: none;
        padding: .3em;
        font-size: 1em;
        width: 100%;
        outline: none;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    #comment {
        border: 0 !important;
        margin: 0 !important;
        padding: 0;
        outline: none;
        resize: none;
    }

    #respond {
        margin-top: 30px;
    }

    #respond input[type='text'],
    #respond textarea {
        margin-bottom: 10px;
        display: block;
        width: 100%;

        background: #121212;
        color: #f5f5f5;
        border: 1px solid #f5f5f5;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px;

        line-height: 1.4em;
    }


    /*Comment List*/
    .tip {
        width: 0px;
        height: 0px;
        position: absolute;
        background: transparent;
        border: 10px solid #ccc;
    }

    .tip-up {
        top: -22px;
        /* Same as body margin top + border */
        left: 10px;
        border-right-color: transparent;
        border-left-color: transparent;
        border-top-color: transparent;
    }

    #comment-area {
        display: flexbox;
    }

    .dialogbox .body {
        flex: 1;
        position: relative;
        max-width: 50%;
        height: auto;
        margin: 20px 0;
        padding: 5px;
        background-color: #121212;
        border-radius: 3px;
        border: 2px solid #ccc;
    }

    .message {
        min-height: 30px;
        border-radius: 3px;
        font-family: Arial;
        font-size: 14px;
        line-height: 1.5;
        color: #797979;
    }

    .delete-form {
        display: contents;
    }

    .edit {
        background-color: #2f2f69;
        color: #fff;
        border: none;
        padding: 0.3em;
        border-radius: 3px;
    }

    .delete {
        background-color: #a0271f;
        color: #fff;
        border: none;
        padding: 0.3em;
        border-radius: 3px;
    }

    #delete-coffee{
        font-family: 'Times New Roman', Times, serif;
        font-size: 16px;
        margin-bottom: 1em;
    }
</style>

<div class="container">
    <div id="info" class="wrapper">
        <div class="wrapper">
            <div class="info-item aside left-info">
                <h1 id="koffee-title"><%= note.name %></h1>
                <p><%= note.content %></p>
                <h1><%= note.kind %></h1>
                <p><a href="/user/<%= note.author.id %>"><%= note.author.username %></a></p>

                <% if(currentUser && note.author.id.equals(currentUser._id)){ %>
                <a class="edit" href="/notes/<%= note._id %>/edit">Edit</a>

                <form class="delete-form" action="/notes/<%= note._id %>?_method=DELETE" method="POST">
                    <input class="delete" id="delete-coffee" type="submit" value="Delete">
                </form>
                <% } %>
            </div>
            <div class="info-item aside info-img">
                <img  src="/image/<%= note.image %>">
            </div>
        </div>

        <div class="info-item comments">
            <div id="respond">
                <% if(currentUser){ %>
                <button class="leave-comment" onclick="newComment()">Leave a Comment</button>
                <% } else {%>
                <a href="/user/login"><button class="leave-comment">Leave a Comment</button></a>
                <% } %>
                <div id="new-comment-form">
                    <% if(currentUser){ %>
                    <form style="display: none;" action="/notes/<%= note._id %>/comments" method="POST"
                        id="commentform">
                        <textarea name="comment[text]" id="comment" rows="10" tabindex="4"
                            placeholder="Please, write your comment here" required></textarea>
                        <input id="submit-comment" name="submit" type="submit" value="Submit comment" />
                        <% } %>
                    </form>
                </div>

                <div id="comment-area">
                    <% if(note.comments.length > 0 && note.comments.length==1) { %>
                    <h2>1 Response</h2>
                    <% } else if (note.comments.length > 0){ %>
                    <h2><%= note.comments.length %> Responses</h2>
                    <% } %>
                    <% note.comments.forEach(function(comment){ %>
                    <div class="dialogbox">
                        <div class="body">
                            <span class="tip tip-up"></span>
                            <strong><a href="/user/<%= comment.author.id %>"><%= comment.author.username %></a></strong>
                            -
                            <%= comment.created.toDateString() %>
                            <div class="message">
                                <span><%= comment.text %></span>
                            </div>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <a href="/notes/<%= note._id %>/comments/<%= comment._id %>/edit">
                                <button class="edit">Edit</button>
                            </a>
                            <form class="delete-form"
                                action="/notes/<%= note._id %>/comments/<%= comment._id %>?_method=DELETE"
                                method="POST">
                                <input class="delete" type="submit" value="Delete">
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>

<% if(note.location.lat && note.location.lng){ %>
<div id="map"></div>
<% } else { %>
<div id="no-location">
    Location not available
</div>
<% } %>

<script>
    function newComment() {
        var x = document.getElementById('commentform');
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }
</script>
<script>
    var map;
    function initMap() {
        var position = { lat: <%= note.location.lat %>, lng: <%= note.location.lng %> };
        map = new google.maps.Map(document.getElementById('map'), {
            center: position,
            zoom: 15
        });

        var marker = new google.maps.Marker({ position: position, map: map });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMEK33apiDfGBs4sfltinmRJT3xnGAS6s&callback=initMap" async
    defer>
    </script>

<% include ../partials/footer %>